{{>licenseInfo}}
{{#models}}{{#model}}
#pragma once

{{#defaultInclude}}#include "{{{defaultInclude}}}"{{/defaultInclude}}
#include "{{classname}}.h"
#include "SerializeableModelTestBase.h"

{{#modelNamespaceDeclarations}}
namespace {{this}}
{
{{/modelNamespaceDeclarations}}
	/// <summary>
	/// {{description}}
	/// </summary>
	class {{classname}}Test : public Utils::SerializeableModelTestBase
	{
	public:
		{{classname}}Test();
		virtual ~{{classname}}Test();

		virtual {{classname}} Example();
	};
{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

{{/model}}
{{/models}}
