{{>licenseInfo}}
{{#models}}{{#model}}
#pragma once

{{#defaultInclude}}#include "{{{defaultInclude}}}"{{/defaultInclude}}
#include "{{classname}}.h"
#include "JsonTestUtils.h"

{{#modelNamespaceDeclarations}}
namespace {{this}}
{
{{/modelNamespaceDeclarations}}
	template<bool RewriteFlag>
	struct Test<{{classname}}, RewriteFlag>
	{
		static {{classname}} Example()
		{
			using namespace Utils;

			{{classname}} ret;
			Utils::JsonSerializer serializer;
			{{#vars}}
			{{#isNotContainer}}
			{{#example}}
			JsonTestUtils::FillFieldWithExampleValue(serializer, TEXT("{{{example}}}"), TEXT("{{name}}"), ret.{{name}});
			{{/example}}
			{{/isNotContainer}}
			{{/vars}}
			return ret;
		}
	};
{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

{{/model}}
{{/models}}
