{{>licenseInfo}}
{{#models}}{{#model}}
#pragma once

#include "SerializeableModelBase.h"
{{#imports}}
{{#this}}{{{this}}}{{/this}}
{{/imports}}

{{#modelNamespaceDeclarations}}
namespace {{this}}
{
{{/modelNamespaceDeclarations}}
	/// <summary>
	/// {{description}}
	/// </summary>
	class {{classname}} : public Utils::SerializeableModelBase
	{
	public:
		{{classname}}();
		virtual ~{{classname}}();

#ifdef UE_BUILD_DEBUG
		{{classname}} Example();
#endif

		{{#vars}}
		/// <summary>
		/// {{description}}
		/// </summary>
		{{{datatype}}} {{name}};

		{{/vars}}

		virtual void FromJsonObject(TSharedPtr<FJsonObject> JsonObject) override;

		virtual TSharedRef<FJsonObject> ToJsonObject() const override;

		virtual FString GetModelName() const override;
	};

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

{{/model}}
{{/models}}
