{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#pragma once

{{{defaultInclude}}}
#include "SerializeableModelBase.h"
#include "JsonSerializingContext.h"

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

/// <summary>
/// {{description}}
/// </summary>
class {{classname}}
    : public SerializeableModelBase
{
public:
    {{classname}}();
    virtual ~{{classname}}();

    {{#vars}}
    /// <summary>
    /// {{description}}
    /// </summary>
    {{{datatype}}} {{name}};
    {{/vars}}

    virtual void FromJsonObject(TSharedPtr<FJsonObject> JsonObject) override;
    virtual TSharedRef<FJsonObject> ToJsonObject(const Trivver::JsonSerializingContext& Context) const override;
    virtual FString GetModelName() const override;
};

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

{{/model}}
{{/models}}
